/* for all elements  */
* {
    box-sizing: border-box;
}

/* styles for ipod div  */
.Ipod {
    width: 30vw;
    height: 66vh;
    border-radius: 60px;
    background-color: #a1a19d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 26px;
    padding-bottom: 25px;
    padding-top: 40px;
    box-shadow: 0px 0px 100px #a1a19d;
}

/* styles for controller  */
.Controls {
    width: 260px;
    height: 260px;
    background-color: white;
    color: #D8D8D4;
    border-radius: 200px;
    position: relative;
}

.Top {
    width: 40%;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
    left: 78px;
    top: 22px;
}

.Left img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 115px;
    left: 22px;
}

.Middle{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 100px;
    top: 70px;
    left: 70px;
    background-color: #7b7b7a;
    cursor: pointer;
}

.Right img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 115px;
    left: 208px;
}

.Bottom img{
    width: 46px;
    height: 46px;
    position: absolute;
    top: 200px;
    left: 107px;
}