/* styles for sidemenu div  */
.Sidemenu {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.active {
    background-color: #3783D8;
    color: white;
}